.Face {
  display: flex;
  overflow: hidden;
  border: 2px solid black;
  background: #666;
}

.Face-container {
  position: relative;
  transition: all 1s ease;
}

.Face-image {
  display: block;
  height: 100%;
}

@media only screen and (max-device-width: 480px) {
  .Face {
    height: 100px;
  }

  .Face-space {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: scroll;
    padding-bottom: 10px;
  }
}

@media only screen and (min-device-width: 480px) {
  .Face {
    height: 200px;
  }

  .Face-space {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.Face-text {
  margin-top: 10px;
  width: 8em;
}